@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editor:before {
  content: '\e6f6';
}

.icon-integral:before {
  content: '\e6f9';
}

.icon-certified-supplier:before {
  content: '\e747';
}

.icon-confirm:before {
  content: '\e749';
}

.icon-Customermanagement:before {
  content: '\e74b';
}

.icon-remind:before {
  content: '\e75f';
}

.icon-trust:before {
  content: '\e76a';
}

.icon-viewlist:before {
  content: '\e76d';
}

.icon-usercenter:before {
  content: '\e773';
}

.icon-account:before {
  content: '\e7b2';
}

.icon-rili:before {
  content: '\eb2b';
}

.icon-shouji:before {
  content: '\eac3';
}

.icon-jianzhu:before {
  content: '\eb38';
}

.icon-biaoge:before {
  content: '\eaef';
}

.icon-shouye:before {
  content: '\eaf0';
}

.icon-daohang:before {
  content: '\eaf2';
}

.icon-jinggao:before {
  content: '\eaf7';
}

.icon-tishi:before {
  content: '\eafe';
}

.icon-sousuo:before {
  content: '\eaff';
}

.icon-jiantou_liebiaoxiangyou:before {
  content: '\eb03';
}

.icon-jiantou_liebiaoshouqi:before {
  content: '\eb04';
}

.icon-jiantou_liebiaoxiangzuo:before {
  content: '\eb05';
}

.icon-jiantou_liebiaozhankai:before {
  content: '\eb06';
}

.icon-duanxin:before {
  content: '\eb23';
}

.icon-gerentouxiang:before {
  content: '\eb24';
}

.icon-qunzu:before {
  content: '\eb25';
}

.icon-ditu_dingwei:before {
  content: '\eb33';
}

.icon-xiaoxi:before {
  content: '\eb42';
}

.icon-tongzhizhongxin:before {
  content: '\eb43';
}

.icon-anniu_gerenzhongxin:before {
  content: '\eb45';
}
